body#page2 {
    background-image: url("./pexels-christopher-farrugia-3581878.jpeg");
    background-attachment: fixed;
    background-size: contain;
}

body#home {
    background-image: url("./AdobeStock_197154803copy.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#navbar {
    overflow: hidden;
}

#navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-style: bold;
  }

div#builder {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

#pizza {
    margin: 15px auto;
    width: 702px;
    height: 750px;
    overflow: hidden;
    position: relative;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
        transform: scale(.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

#cheese {
    position: absolute;
    width: 590px;
    height: 590px;
    border-radius: 50%;
    background: #f3d255;
    margin: 95px 0 0 55px;
    z-index: 10;
    box-shadow: inset 0 0 200px #d88e24;
}

div#pizza input, div#pizza label {
    float:left;
    cursor: pointer;
    color: white;
}

div.hide, div#white, div#red {
    opacity: 0;
    
}

div#pizza input {
    margin: 0 10px 0 0;
}

div#pizza label {
    margin: 0 5px 0 0;
    font-style: bold;
}

div.sauce {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    margin: 90px 0 0 50px;
    z-index: 10;
    
}

#red{
    background: red;
    box-shadow: inset 0 0 200px #d82424;
}

#white {
    background: whitesmoke;
    box-shadow: inset 0 0 200px whitesmoke;
}

#crust {
    margin: 40px 0 0 0;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: #ab5f2b;
    box-shadow: inset 0 0 40px #e5a53b;
    border: 1px solid #ab5f2b;
}

.pep {
    position: absolute;
    width: 80px;
    height: 70px;
    border-radius: 60px;
    background: #b3241c;
    z-index: 15;
    font-size: 2em;
    text-align: center;
    padding-top: 10px;
    box-shadow: inset 0 0 85px #711712;
    border: 2px solid #871b15;
    text-indent: -9999px;
    color: #fff;
    animation: pulse 0.5s infinite;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(.9);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

div.pep#one {
    margin: 340px 0 0 60px;
}

div.pep#two {
    margin: 340px 0 0 177px;
}

div.pep#three {
    margin: 340px 0 0 295px;
}

div.pep#four {
    margin: 340px 0 0 415px;
}

div.pep#five {
    margin: 340px 0 0 540px;
}

div.pep#six {
    margin: 220px 0 0 115px;
}

div.pep#seven {
    margin: 220px 0 0 235px;
}

div.pep#eight {
    margin: 220px 0 0 355px;
}

div.pep#nine {
    margin: 220px 0 0 475px;
}

div.pep#ten {
    margin: 110px 0 0 235px;
}

div.pep#eleven {
    margin: 110px 0 0 355px;
}

div.pep#twelve {
    margin: 460px 0 0 115px;
}

div.pep#thirteen {
    margin: 460px 0 0 235px;
}

div.pep#fourthteen {
    margin: 460px 0 0 355px;
}

div.pep#fifthteen {
    margin: 460px 0 0 475px;
}

div.pep#sixteen {
    margin: 570px 0 0 235px;
}

div.pep#seventeen {
    margin: 570px 0 0 355px;
}

div.onion {
    position: absolute;
    z-index: 20;
    width: 100px; 
    height: 100px;  
    border: solid 5px purple;
    border-color: purple transparent transparent transparent;
    border-radius: 50%/100px 100px 0 0;
    animation: pulse 0.5s infinite;
}

div.onion#one {
    margin: 177px 0 0 161px;
    transform: rotate(-20deg);
}

div.onion#two {
    margin: 190px 0 0 280px;
}

div.onion#three{
    margin: 147px 0 0 400px;
    transform: rotate(20deg);
}

div.onion#four {
    margin: 303px 0 0 100px;
    transform: rotate(-20deg);
}

div.onion#five {
    margin: 303px 0 0 220px;
    transform: rotate(-20deg);
}

div.onion#six {
    margin: 307px 0 0 340px;
    transform: rotate(20deg);
}

div.onion#seven {
    margin: 307px 0 0 460px;
    transform: rotate(20deg);
}

div.onion#eight {
    margin: 349px 0 0 125px;
    transform: rotate(200deg);
}

div.onion#nine {
    margin: 349px 0 0 240px;
    transform: rotate(200deg);
}

div.onion#ten {
    margin: 349px 0 0 315px;
    transform: rotate(140deg);
}

div.onion#eleven {
    margin: 349px 0 0 430px;
    transform: rotate(140deg);
}

div.onion#twelve {
    margin: 462px 0 0 180px;
    transform: rotate(200deg);
}

div.onion#thirteen {
    margin: 462px 0 0 280px;
    transform: rotate(180deg);
}

div.onion#fourteen {
    margin: 462px 0 0 370px;
    transform: rotate(140deg);
}

.green {
    position: absolute;
    width: 20px;
    height: 55px;
    background: #2f5e20;
    box-shadow: 2px 2px 2px rgba(66, 132, 45, .9);
    margin: 250px 0 0 400px;
    z-index: 30;
    animation: pulse 0.5s infinite;
}

div.green#one {
    margin: 123px 0 0 325px;
}

div.green#two {
    margin: 262px 0 0 325px;
}

div.green#three {
    margin: 470px 0 0 325px;
}

div.green#four {
    margin: 610px 0 0 325px;
}

div.green#five {
    margin: 231px 0 0 205px;
}

div.green#six {
    margin: 460px 0 0 205px;
}

div.green#seven {
    margin: 231px 0 0 446px;
}

div.green#eight {
    margin: 460px 0 0 446px;
}

div.green#nine {
    margin: 265px 0 0 86px;
}

div.green#ten {
    margin: 440px 0 0 86px;
}

div.green#eleven {
    margin: 265px 0 0 576px;
}

div.green#twelve {
    margin: 440px 0 0 576px;
}

div.olive {
    position: absolute;
    z-index: 35;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 8px solid black;
    animation: pulse 0.5s infinite;
}

div.olive#one {
    margin: 173px 0 0 144px;
}

div.olive#two {
    margin: 324px 0 0 130px;
}

div.olive#three {
    margin: 394px 0 0 150px;
}

div.olive#four {
    margin: 554px 0 0 144px;
}

div.olive#five {
    margin: 130px 0 0 200px;
}

div.olive#six {
    margin: 195px 0 0 200px;
}

div.olive#seven {
    margin: 299px 0 0 200px;
}

div.olive#eight {
    margin: 425px 0 0 208px;
}

div.olive#nine {
    margin: 525px 0 0 208px;
}

div.olive#ten {
    margin: 599px 0 0 200px;
}

div.olive#eleven {
    margin: 394px 0 0 260px;
}

div.olive#twelve {
    margin: 324px 0 0 260px;
}

div.olive#thirteen {
    margin: 212px 0 0 320px;
}

div.olive#fourteen {
    margin: 430px 0 0 320px;
}

div.olive#fifthteen {
    margin: 120px 0 0 441px;
}

div.olive#sixteen {
    margin: 195px 0 0 441px;
}

div.olive#seventeen {
    margin: 299px 0 0 441px;
}

div.olive#eightteen {
    margin: 425px 0 0 441px;
}

div.olive#nineteen {
    margin: 525px 0 0 427px;
}

div.olive#twenty {
    margin: 599px 0 0 441px;
}

div.olive#twentyone {
    margin: 324px 0 0 380px;
}

div.olive#twentytwo {
    margin: 394px 0 0 380px;
}

div.olive#twentythree {
    margin: 173px 0 0 505px;
}

div.olive#twentyfour {
    margin: 324px 0 0 505px;
}

div.olive#twentyfive {
    margin: 394px 0 0 505px;
}

div.olive#twentysix {
    margin: 554px 0 0 505px;
}

.mushroom {
    position: absolute;
    width: 70px;
    height: 75px;
    z-index: 20;
    margin: 240px 0 0 240px;
    animation: pulse 0.5s infinite;
}

.cap {
    width: 70px;
    height: 35px;
    background: #b49989;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    z-index: 20;
    position: relative;
}

.stem {
    width: 35px;
    height: 35px;
    background: #c3b5ae;
    margin-left: 17px;
    margin-top: -10px;
}

div.mushroom#two {
    margin: 440px 0 0 200px;
}

div.mushroom#three {
    margin: 365px 0 0 510px;
}

div.mushroom#four {
    margin: 158px 0 0 380px;
}

div.mushroom#five {
    margin: 265px 0 0 300px;
}

div.mushroom#six {
    margin: 540px 0 0 290px;
}
  
input:checked + .slider {
      display:block;
      background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider#marinara, input:checked + .slider#pep {
    display:block;
    background-color: red;
}

input:focus + .slider#marinara, input:focus + .slider#pep {
  box-shadow: 0 0 1px red;
}

input#test:checked + div{
    opacity: 1;
}

input#testtwo:checked + div{
    opacity: 1;
}

input#testthree:checked + div{
    opacity: 1;
}

input#testfour:checked + div {
    opacity: 1;
}

input#testfive:checked + div {
    opacity: 1;
}

input#marinarainput:checked + div {
    opacity:1;
}

input#alfredoinput:checked + div {
    opacity:1;
}

input:checked + .slider#pepper {
    display:block;
    background-color: green;
}

input:focus + .slider#pepper {
  box-shadow: 0 0 1px green;
}

input:checked + .slider#onion {
    display:block;
    background-color: purple;
}

input:focus + .slider#onion {
  box-shadow: 0 0 1px purple;
}

input:checked + .slider#olive {
    display:block;
    background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider#mush {
    display:block;
    background-color: #b49989;
}

input:focus + .slider#mush {
  box-shadow: 0 0 1px #b49989;
}

input:checked + .slider:before {
    -webkit-transform: translateX(84px);
    -ms-transform: translateX(84px);
    transform: translateX(84px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.topping {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}